<h1><%= @tadpole.name %> Tadpole</h1>

<p>Color: <%= @tadpole.color %></p>
<p>Parent: <%= link_to @tadpole.frog.name, frog_path(@tadpole.frog.id) %></a></p>
<p>Lives: <%= link_to @tadpole.frog.pond.name, pond_path(@tadpole.frog.pond.id) %></p>


<strong><%= link_to 'Evolve to Frog', @tadpole, :method => 'evolve' %></strong>

<br>
<br>

<%= link_to 'Back', tadpoles_path(@tadpoles) %> | 
<%= link_to 'Edit', edit_tadpole_path(@tadpole) %> | 
<%= link_to 'Delete', @tadpole, :method => 'delete' %>
