<h1><%= @pond.name %> Pond</h1>
<p>Water type: <%= @pond.water_type %></p>
<p>Resident frogs and their tadpoles:</p>
<ol>
  <% @pond.frogs.each do |frog| %>
    <li><%= link_to frog.name, frog_path(frog.id) %> (Frog)</a>
      <ol>
        <% frog.tadpoles.each do |tadpole| %>
          <li><%= link_to tadpole.name, tadpole_path(tadpole.id) %> (Tadpole)</a></li>
        <% end %>
      </ol>
    </li>
  <% end %>
</ol>
<%= link_to 'Back', ponds_path(@ponds) %> | 
<%= link_to 'Edit', edit_pond_path(@pond) %> |  
<%= link_to 'Delete', @pond, :method => 'delete' %>
